.flex
	display flex
	flex-flow row nowrap
	max-height 100vh

.content-center
	> *
		margin auto

.flex-stretch
	align-items flex-stretch

.flex-column
	flex-flow column nowrap

.flex-1x
	flex 1

.scrollpane
	overflow auto