body
	font-family 'Open Sans', sans-serif
	font-size 12px

h1,h2,h3,h4,h5
	font-weight normal
	text-transform lowercase

#controls
	.sectionHeader
		font-size 1.17em
	.itemHeader
	.itemLabel
		font-size 1em