@import 'normalize.css'
@import './components/typography.styl'

body
	margin 0
	background-color #EEE
	font-size 12px

unit = 24px
unit-half = unit * 0.5

#wrapper
	width 30em
	min-width (320 - unit * 2)
	max-width (768 - unit * 2)
	margin unit auto

h1
h2
h3
p
a
	position relative
	margin 0 0 unit 0
	padding 0
	line-height unit

i.fa
	position absolute
	top 3px
	left -0.75 * unit

h1
h2
h3
	font-weight 400
	text-transform capitalize
	&:after
	i.fa
		font-weight 300
		font-size 10px
		color #CCC
		letter-spacing 1px
		
		position absolute
		top 0
		left -0.8 * unit

h1:after
	content 'h1'
h2:after
	content 'h2'
h3:after
	content 'h3'
	
//

@media only screen and (max-width: 767px)
	#wrapper
		width 80%