doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300")
		link(rel='stylesheet', href='css/main.css')

	body
		#outerWrapper.flex
			.flex.flex-column.flex-1x
				.flex.flex-1x.scrollpane.content-center
					main#content
						#canvasContainer
							canvas#readyCanvas
							canvas#drawCanvas
						#videoContainer.flex
							video#envmapVideo.hide(loop, controls)
							//- button.flex.content-center
							//- 	i.fa.fa-trash-o
				aside#imageManager
			aside#controls

		script(type='text/javascript', src='js/Main.js')